<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>whatTopic</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    {% load static %}
    <!-- Favicons -->
    <link href="{% static 'img/wt.ico' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

    <!-- Bootstrap css -->
    <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.theme.default.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <!--<link href="{% static 'lib/modal-video/css/modal-video.min.css' %}" rel="stylesheet">-->

    <!-- Main Stylesheet File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- JavaScript Libraries -->
    <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
    <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <!--<script src="{% static 'lib/modal-video/js/modal-video.js' %}"></script>-->
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'js/Sortable.js' %}"></script>

    <!-- Contact Form JavaScript File -->
    <script src="{% static 'contactform/contactform.js' %}"></script>

    <!-- Template Main Javascript File -->
    <script src="{% static 'js/main.js' %}"></script>

    <!-- =======================================================
    Theme Name: eStartup
    Theme URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->

<script type="text/javascript">
    $(document).ready(function () {
        $("#initialHREF").click(function (e) {
            //$('#hero').hide();
            $('#features3').show();
        })
    })
</script>
</head>

<body style="background: #f0f4ff; !important;">
    <header id="header" class="header header-hide">
        <div class="container">
            <div id="logo" class="pull-left">
                <h1><a href="#body" class="scrollto"><span>what</span>Topic</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a>Hola! {{ expert.name }}</a></li>
                    <li class="menu-active"><a href="#hero">Inicio</a></li>
                    <!-- <li><a href="#features1">Features</a></li>-->
                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </header>

    <!--==========================
    Intro Section
  ============================-->
    <section id="hero" class="wow fadeIn">
        <div class="hero-container col-md-12 align-self-center">
            <!--<h1 style="color: {{ randomfilteredCategory.id_colortheme.bodyC }}; !important;">whatTopic</h1>-->
            <h1 style="color: {{ randomfilteredCategory.id_colortheme.bodyC }}; font-size: 40px;"><strong>Encuesta para la evaluación de temas asociados a artículos científicos</strong></h1>
            <!--<img src="img/hero-img.png" alt="Hero Imgs">
            <a id="initialHREF" href="#features" class="btn-get-started scrollto">Get Started</a>-->
            <div class="text-justify col-md-8">
                <p class="text-justify" style="font-size: medium; font-weight: 500; color: #4b4b4b; letter-spacing: 0px; line-height: 1; !important;">
                    Este instrumento es elaborado con el objetivo de realizar un estudio como trabajo de investigación
                    de la Maestría en Ingeniería de Sistemas y Computación de la Universidad Nacional de Colombia sede Bogotá
                    en convenio con la Universidad de los Llanos. Le tomará aproximadamente <strong>25 minutos</strong>
                    responder esta encuesta. Únicamente se utilizará esta información con <u>fines de investigación</u>.
                </p>

                <p style="font-size: medium; font-weight: 500; color: #4b4b4b; letter-spacing: 0px; line-height: 1; !important;">
                    <u>La mecánica de la encuesta es la siguiente:</u><br/>La encuesta está conformada por tres (3) partes,
                    en la primera parte, se evaluará la <strong>inferencia temática</strong> de unos términos.
                    Se deberá inferir un tema basado en un conjunto de términos mostrados.
                    En la segunda y tercera parte se evaluarán la <strong>asociatividad</strong> y <strong>representatividad</strong>
                    de los términos para un artículo científico dado, respectivamente. Se mostrarán el título y resumen de un artículo científico
                    seguido de la actividad a realizar. <br/> <br/><u>IMPORTANTE: La primera parte es independiente de las otras dos.</u>
                </p>
                <p style="font-size: medium; font-weight: 500; color: #4b4b4b; letter-spacing: 0px; line-height: 1; !important;">
                    <u>Nota:</u><br/>Los términos, títulos y resúmenes de los artículos científicos son mostrados en su <u>idioma original</u>.
                    Adicionalmente, los términos son acompañados de su posible interpretación en Español
                    (habrá algunos casos que tendrán más de una posible interpretación separados por el caracter "/" e. g. Biasing | Polarización/Sesgar).
                </p>
            </div>
            <a id="initialHREF" href="#features3" class="btn-get-started scrollto">Baja <img src="{% static "img/icons/arrow-down.svg" %}" alt="" width="18" height="18" title="Bajar" style="margin-bottom: 0px;"/></a>
        </div>
    </section>

{% block content3 %}
{% endblock %}

{% block content1 %}
{% endblock %}

{% block content2 %}
{% endblock %}

{% block content4 %}
{% endblock %}

    <!--==========================
    Footer
  ============================-->
    <footer class="footer" style="padding: 5px; !important;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="footer-logo">
                        <a class="navbar-brand" href="#">whatTopic v1.4</a>
                        <p class="text-justify" style="font-size: medium; font-weight: 500; color: #979797; letter-spacing: 0px; line-height: 1; !important;">
                            Este instrumento es elaborado con el objetivo de realizar un estudio como trabajo de investigación
                            de la Maestría en Ingeniería de Sistemas y Computación de la Universidad Nacional de Colombia sede Bogotá
                            en convenio con la Universidad de los Llanos.
                        </p>
                    </div>
                </div>

                <div class="col-md-12 col-lg-4" style="padding-top: 40px;">
                    <p style="font-size: medium; font-weight: 500; color: #979797; letter-spacing: 0px; line-height: 1; !important;">
                        Le tomará aproximadamente 25 minutos responder esta encuesta.
                    </p>
                    <p style="font-size: medium; font-weight: 500; color: #979797; letter-spacing: 0px; line-height: 1; !important;">
                        Únicamente se utilizará esta información con fines de investigación.
                    </p>
                </div>
                <div class="col-md-12 col-lg-4">
                    <h4 style="color: white;">Información de Contacto:</h4>
                    <p style="padding-top: 5px; font-size: medium; font-weight: 500; color: #979797; letter-spacing: 0px; line-height: 1; !important;">
                        Ing. Yerson Ferney Porras García<br/>
                        Ingeniero de sistemas<br/>
                        Universidad de los Llanos<br/>
                        Estd. M.Sc. en Ingeniería - Ingeniería de Sistemas y Computación de la Universidad Nacional de Colombia sede Bogotá
                            en convenio con la Universidad de los Llanos<br/>
                        <a href="mailto:yporras@unal.edu.co">yporras@unal.edu.co</a>
                    </p>

                </div>
            </div>
        </div>

        <div class="copyrights" style="margin-top: 10px; padding: 5px; !important;">
            <div class="container">
                <p>&copy; Copyrights eStartup. All rights reserved.</p>
                <div class="credits">
                    <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eStartup
          -->
                    Template designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
        </div>
    </footer>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

</body>

</html>