<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

{% load static %}

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Yerfer</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'index/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'index/css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'index/css/main.css' %}">

    <!-- script
    ================================================== -->
    <script src="{% static 'index/js/modernizr.js' %}"></script>
    <script src="{% static 'index/js/pace.min.js' %}"></script>


    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static 'index/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'index/favicon.ico' %}" type="image/x-icon">

</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="#0">
                <img src="{% static 'index/images/smile.svg' %}" alt="Homepage">
            </a>
        </div>

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

            <div class="header-nav__content">
                <h3>Navigation</h3>
                
                <ul class="header-nav__list">
                    <li class="current"><a class="smoothscroll"  href="#home" title="home">Home</a></li>
                    <li><a class="smoothscroll"  href="#about" title="about">About</a></li>
                    <li><a class="smoothscroll"  href="#services" title="services">Services</a></li>
                    <li><a class="smoothscroll"  href="#works" title="works">Works</a></li>
                    <!--<li><a class="smoothscroll"  href="#clients" title="clients">Clients</a></li>
                    <li><a class="smoothscroll"  href="#contact" title="contact">Contact</a></li>-->
                </ul>
    
                <p>A little bit about me.</p>
    
                <ul class="header-nav__social">
                    <li>
                        <a href="https://www.facebook.com/Yerfer" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com/YerferKage" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/yerfer20/" target="_blank"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/yerfer/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCNM3AlenLixGXoXAqp9ccZA?view_as=subscriber" target="_blank"><i class="fa fa-youtube"></i></a>
                    </li>
                    <li>
                        <a href="https://www.twitch.tv/yerfer" target="_blank"><i class="fa fa-twitch"></i></a>
                    </li>
                </ul>

            </div> <!-- end header-nav__content -->

        </nav>  <!-- end header-nav -->

        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-text">Menu</span>
            <span class="header-menu-icon"></span>
        </a>

    </header> <!-- end s-header -->


    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="{% static 'index/images/volar.jpg' %}" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">

                <h3>Welcome to Yerfer</h3>

                <h1>
                    I'm a systems engineer with <br>
                    knowledge in computer science. <br>             
                </h1>

                <div class="home-content__buttons">
                    <a href="#about" class="smoothscroll btn btn--stroke">
                        More About Me
                    </a>
                </div>

            </div>

            <div class="home-content__scroll">
                <a href="#about" class="scroll-link smoothscroll">
                    <span>Scroll Down</span>
                </a>
            </div>

            <div class="home-content__line"></div>

        </div> <!-- end home-content -->


        <ul class="home-social">
            <li>
                <a href="https://facebook.com/Yerfer" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i><span>Facebook</span></a>
            </li>
            <li>
                <a href="https://twitter.com/YerferKage" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i><span>Twitter</span></a>
            </li>
            <li>
                <a href="https://www.instagram.com/yerfer20/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i><span>Instagram</span></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/yerfer/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i><span>Linkedin</span></a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCNM3AlenLixGXoXAqp9ccZA?view_as=subscriber" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i><span>YouTube</span></a>
            </li>
            <li>
                <a href="https://www.twitch.tv/yerfer" target="_blank"><i class="fa fa-twitch" aria-hidden="true"></i><span>Twitch</span></a>
            </li>
        </ul> 
        <!-- end home-social -->

    </section> <!-- end s-home -->


    <!-- about
    ================================================== -->
    <section id='about' class="s-about">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead subhead--dark">Hello There</h3>
                <h1 class="display-1 display-1--light">I am Yerfer</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row about-desc" data-aos="fade-up">
            <div class="col-full">
                <p>
                My name is Yerson Ferney Porras García, I am a systems engineer with knowledge in computer science, I have developed some web apps, I usually code in Python, I have worked in research, machine learning, programming, software and academy and last but not least, I like videogames, music, movies and a lot more.
                </p>
            </div>
        </div> <!-- end about-desc -->

        <div class="row about-stats stats block-1-4 block-m-1-2 block-mob-full" data-aos="fade-up">
            <div class="col-block stats__col">
                <div class="stats__count">2400</div>
                <h5>Cups of Coffee.</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">22000</div>
                <h5>Hours in front of my pc.</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">2000</div>
                <h5>Issues fixed (I believe).</h5> 
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">100</div>
                <h5>Hours of spiritual retreat.</h5>
            </div>

        </div> <!-- end about-stats -->

        <div class="about__line"></div>

    </section> <!-- end s-about -->


    <!-- services
    ================================================== -->
    <section id='services' class="s-services">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">What I Do</h3>
                <h1 class="display-2">I’ve done a little bit of everything</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row services-list block-1-2 block-tab-full">

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-book"></i>
                </div>
                <div class="service-text">
                    <h3 class="h2">Academy</h3>
                    <p>More than two years...
                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-group"></i>
                </div>
                <div class="service-text">
                    <h3 class="h2">Research</h3>
                    <p>I am a beginner in this world...
                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-cube"></i>
                </div>  
                <div class="service-text">
                    <h3 class="h2">Machine Learning</h3>
                    <p>Data mining...
                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-megaphone"></i>
                </div>  
                <div class="service-text">
                    <h3 class="h2">Natural Language Processing</h3>
                    <p>Topic Modeling...
                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-lego-block"></i>
                </div>
                <div class="service-text">
                    <h3 class="h2">Programming</h3>
                    <p>Python..
                    </p>
                </div>
            </div>          
            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                	<i class="icon-earth"></i>
                </div>
                <div class="service-text">
                    <h3 class="h2">Web Development</h3>
                    <p>Frameworks: Django...

                    </p>
                </div>
            </div>
        </div> <!-- end services-list -->

    </section> <!-- end s-services -->


    <!-- works
    ================================================== -->
    <section id='works' class="s-works">

        <div class="intro-wrap">
                
            <div class="row section-header has-bottom-sep light-sep" data-aos="fade-up">
                <div class="col-full">
                    <h3 class="subhead">Recent Works</h3>
                    <h1 class="display-2 display-2--light">I love what I do, check out some of my latest works</h1>
                </div>
            </div> <!-- end section-header -->

        </div> <!-- end intro-wrap -->

        <div class="row works-content">
            <div class="col-full masonry-wrap">
                <div class="masonry">    
                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">
                                
                            <div class="item-folio__thumb">
                                <a href="{% static 'index/images/portfolio/gallery/whatTopic.PNG' %}" class="thumb-link" title="whatTopic" data-size="1050x600">
                                    <img src="{% static 'index/images/portfolio/whatTopic.PNG' %}"
                                         srcset="{% static 'index/images/portfolio/whatTopic.PNG'%} 1x, {% static 'index/images/portfolio/whatTopic.PNG' %} 2x" alt="">
                                </a>
                            </div>
    
                            <div class="item-folio__text">
                                <h3 class="item-folio__title">
                                    whatTopic
                                </h3>
                                <p class="item-folio__cat">
                                    Encuesta para la evaluación de temas asociados a artículos científicos
                                </p>
                            </div>
    
                            <a href="" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>
    
                            <div class="item-folio__caption">
                                <p>Encuesta para la evaluación de temas asociados a artículos científicos.</p>
                            </div>
    
                        </div>
                    </div> <!-- end masonry__brick -->
                </div> <!-- end masonry -->
            </div> <!-- end col-full -->
        </div> <!-- end works-content -->

    </section> <!-- end s-works -->


    <!-- clients
    ================================================== -->
    <!-- end s-clients -->


    <!-- contact
    ================================================== -->
	<!-- end s-contact -->


    <!-- footer
    ================================================== -->
    <footer>
    	<!-- end footer-main -->

        <div class="row footer-bottom">

            <div class="col-twelve">
                <div class="copyright">
                    <span>© Copyright Yerfer 2020</span> 
                    <span>Site Template by <a href="https://www.colorlib.com/">Colorlib</a></span>	
                </div>

                <div class="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up" aria-hidden="true"></i></a>
                </div>
            </div>

        </div> <!-- end footer-bottom -->

    </footer> <!-- end footer -->


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div> <!-- end photoSwipe background -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale-pulse-out">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="{% static 'index/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'index/js/plugins.js' %}"></script>
    <script src="{% static 'index/js/main.js' %}"></script>

</body>

</html>