{% extends 'validation3.html' %}


{% block content4 %}

    <section id="tks" class="padd-section text-center wow fadeInUp">
        <div id="hero" class="wow fadeIn">
            <div class="hero-container">
                <h2 style="font-style: italic; font-size: larger; font-weight: 500; color: #4b4b4b; letter-spacing: 0px; line-height: 1; !important;">
                    <strong>
                        {{ quote.quote }}
                    </strong>
                </h2>
                <h2 style="font-style: italic; font-size: larger; font-weight: 500; color: #4b4b4b; letter-spacing: 0px; line-height: 1; !important;">
                    <strong>
                        {{ quote.quote_es }}
                    </strong>
                </h2>
                <h2>— {{ quote.author }}</h2>
                <h1>Muchas Gracias!</h1>
                <div>
                    <button type="button" class="btn btn-primary" onclick="location.reload()">Evaluar otra encuesta!</button>
                </div>
            </div>
        </div>
    </section>

{% endblock %}