{% extends 'validation1.html' %}

{% block content2 %}

{% load static %}

<section id="features2" class="padd-section text-center wow fadeInUp">
        <div class="container">
            <div class="text-justify">
                <h3 style="padding-bottom: 20px;">Valoración por Grado de Representatividad</h3>
                <p style="color:#2e2e2e; font-size: 18px; font-weight: 500; letter-spacing: 0px; line-height: 1.5; margin-bottom: 10px;">
                    Consiste en seleccionar <u>hasta cinco (5) términos, o al menos uno (1),</u> que considere <strong>más representativos</strong>
                    de un artículo científico. A diferencia de la primera valoración, acá es importante el <strong>orden</strong>
                    en que queden seleccionados los términos. Es decir, el orden de los términos en la sección
                    "<i>Términos seleccionados</i>" corresponderá al <strong>grado de representatividad</strong>, donde
                    el primer término (el de la parte superior) será el más representativo y el último, será el menos
                    representativo. Para realizar la selección, deberá
                    desplazar  <u>manualmente</u> el término que escoja haciendo click sostenido y llevándolo a la sección
                    "<i>Términos seleccionados</i>". En cualquier momento podrá reordenar los términos según lo considere.
                    Por último, deberá indicar nuevamente el grado de coherencia según su consideración.
                </p>
            </div>
            <div class="justify-content-center text-center">
                <h3>Título</h3><em><p class="text-center" style="font-size: large; font-weight: 500; color:#303030;">"{% if article %}{{ article.title }}{% endif %}{% if article_x_v2 %}{{ article_x_v2.title }}{% endif %}"</p></em>
                <h3>Resumen</h3><em><p class="text-justify" style="font-size: medium; font-weight: 500; color: #303030; letter-spacing: 0px; line-height: 2;">"{% if article %}{{ article.abstract }}{% endif %}{% if article_x_v2 %}{{ article_x_v2.abstract }}{% endif %}"</p></em>
                <!--
                <h2>Scientific paper title:</h2><p class="text-center" style="font-size: large; font-weight: 500; color:{{ randomfilteredCategory.id_colortheme.articleTitleC }} ">"{% if article %}{{ article.title }}{% endif %}{% if article_x_v2 %}{{ article_x_v2.title }}{% endif %}"</p>
                <h2>Abstract: </h2><p class="text-justify" style="font-size: large; font-weight: 500; color:{{ randomfilteredCategory.id_colortheme.abstractTitleC }} ">{% if article %}{{ article.abstract }}{% endif %}{% if article_x_v2 %}{{ article_x_v2.abstract }}{% endif %}</p>
                -->
            </div>
            <div class="col-md-5">
                <a target="_blank" href="https://whattopic-data.s3.us-east-2.amazonaws.com/{{ article_x_v2.pdfPath }}" class="row align-content-center">
                    <img src="{% static 'img/icons/search.svg' %}" alt="" width="15" height="15" title="Ver"/>
                    <p style="padding-left: 10px; !important;"><u>Ver artículo científico completo</u></p>
                </a>
            </div>

            <div class="container justify-content-center text-justify" style="padding-bottom: 10px;">
                <h3 style="font-size: large; font-weight: 500; color:#2e2e2e; !important;">
                    <img src="{% static 'img/icons/hand-index.svg' %}" alt="" width="25" height="25" title="Seleccionar"/>
                    Por favor, escoja <u>hasta cinco (5) términos, o al menos uno (1),</u> que usted considere <strong>más representativos</strong> del artículo científico mostrado previamente.
                </h3>
            </div>

            <!-- To production -->
            {% if term_assign_listX_v2 %}
                <form name="name_form" id="id_form2" method="POST" action="{% url 'insertV2' %}">
                    {% csrf_token %}
                <div class="row justify-content-center col-md-12" id="options_panel">
                    <div class="col col-md-8 justify-content-center">
                        <label><u>Conjunto de términos</u></label>
                        <div class="row justify-content-center border border-primary" style="height: 500px; !important;">
                            <div class="col-md-4">
                                <ul id="simpleList" name="simpleList" class="list-group" style="height: 300px; !important;">
                                    {% for term_assign in term_assign_listX_v2|slice:"0:8" %}
                                        <li class="list-group-item" style="font-family: Arial; background: #fff2f7; color:black; font-size: 14px; font-weight: 400; letter-spacing: 0px; line-height: 1.5;" value="{{ term_assign.id_term.id }}" ;>{{ term_assign.id_term.term }} | {{ term_assign.id_term.term_es }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <ul id="simpleList2" name="simpleList2" class="list-group" style="height: 300px; !important;">
                                    {% for term_assign in term_assign_listX_v2|slice:"8:16" %}
                                        <li class="list-group-item" style="font-family: Arial; background: #fff2f7; color:black; font-size: 14px; font-weight: 400; letter-spacing: 0px; line-height: 1.5;" value="{{ term_assign.id_term.id }}">{{ term_assign.id_term.term }} | {{ term_assign.id_term.term_es }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <ul id="simpleList3" name="simpleList3" class="list-group" style="height: 300px; !important;">
                                    {% for term_assign in term_assign_listX_v2|slice:"16:" %}
                                        <li id="list-group-item" class="list-group-item" style="font-family: Arial; background: #fff2f7; color:black; font-size: 14px; font-weight: 400; letter-spacing: 0px; line-height: 1.5;" value="{{ term_assign.id_term.id }}">{{ term_assign.id_term.term }} | {{ term_assign.id_term.term_es }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-3">
                        <label>
                            <u>Términos seleccionados</u>
                        </label>
                        <label class="text-justify">
                            Ordenados por representatividad, donde el más representativo es el término superior y el
                            menos representativo el inferior.
                        </label>
                            <input type="hidden" name="id_topic" value="{{ id_topic.id }}">
                            <input type="hidden" name="id_expert" value="{{ expert.id }}">
                            <div class="border border-success">
                                <ul id="otraList" name="otraList" class="list-group" style="height: 300px; !important;">
                                    <!-- Here come the selected terms-->
                                </ul>
                            </div>
                    </div>
                </div>
                <div class="container justify-content-center text-justify" style="padding-bottom: 10px; padding-top: 10px;">
                    <h3 style="font-size: large; font-weight: 500; color:#2e2e2e; !important;">
                    <img src="{% static 'img/icons/hand-index.svg' %}" alt="" width="20" height="20" title="Seleccionar"/>
                    Por favor, seleccione el nivel de <strong>coherencia</strong> entre <u>todos los términos mostrados en el Conjunto de términos (25)</u> y el artículo mostrado.
                    </h3>
                </div>
                {% for cohereGrade1_x in cohereGrade2 %}
                    <div class="custom-radio custom-control-inline" style="padding-right: 10px;">
                        <input type="radio" id="customRadioB{{ cohereGrade1_x.id }}" name="customRadioB" class="custom-control-input" value="{{ cohereGrade1_x.id }}" required>
                        <label class="custom-control-label" for="customRadioB{{ cohereGrade1_x.id }}">{{ cohereGrade1_x.grade }}</label>
                    </div>
                {% endfor %}

                <div style="padding-top: 20px;">
                    <button type="submit" class="btn btn-success">Enviar</button>
                </div>
                </form>
            {% endif %}
        </div>
</section>

    <script type="text/javascript">
    //Source: http://sortablejs.github.io/Sortable/
    new Sortable(otraList, {
        group: 'shared', // set both lists to same group
        animation: 150,
        ghostClass: 'blue-background-class'
    });

    new Sortable(simpleList, {
        group: 'shared',
        animation: 150,
        ghostClass: 'blue-background-class'
    });

    new Sortable(simpleList2, {
        group: 'shared',
        animation: 150,
        ghostClass: 'blue-background-class'
    });

    new Sortable(simpleList3, {
        group: 'shared',
        animation: 150,
        ghostClass: 'blue-background-class'
    });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            {% if term_assign_listX_v2 or terms_list %}
                $("#id_form2").submit(function (e) {
                    e.preventDefault();

                    var selectedTerms =  document.getElementById("otraList").getElementsByClassName("list-group-item");
                    var t = [];
                    //alert(selectedTerms.length);
                    if (selectedTerms.length>=1 && selectedTerms.length<=5){
                        var i;
                        for (i = 0; i < selectedTerms.length; i++) {
                            t.push(selectedTerms[i].value);
                        }

                        var unSelectedTerms1 =  document.getElementById("simpleList").getElementsByClassName("list-group-item");
                        var unSelectedTerms2 = document.getElementById("simpleList2").getElementsByClassName("list-group-item");
                        var unSelectedTerms3 = document.getElementById("simpleList3").getElementsByClassName("list-group-item");

                        unSel = []
                        var i;
                        for (i = 0; i < unSelectedTerms1.length; i++) {
                            unSel.push(unSelectedTerms1[i].value);
                        }
                        for (i = 0; i < unSelectedTerms2.length; i++) {
                            unSel.push(unSelectedTerms2[i].value);
                        }
                        for (i = 0; i < unSelectedTerms3.length; i++) {
                            unSel.push(unSelectedTerms3[i].value);
                        }
                        //alert(unSel);

                        var radioValue2 = $("input[name='customRadioB']:checked").val();

                        $.ajax({
                        url: $(this).attr('action'),
                        type: $(this).attr('method'),
                        //data: $(this).serialize(),
                        data: {
                            'id_term_list2string': t.toString(),
                            'id_term_unselected': unSel.toString(),
                            'id_article': {% if article %}{{ article.id }}{% endif %}{% if article_x_v2 %}{{ article_x_v2.id }}{% endif %},
                            'id_expert': {{ expert.id }},
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            'id_cohereGrade2': radioValue2,
                        }, // get the form data

                        success: function (json) {
                            console.log(json);
                            //$('#DIV_CONTAINING_FORM').html(JSON.stringify(json, undefined, 2));
                            $('#features2').hide();
                            //$('#features3').show();
                        },
                        error: function () {
                            alert("Error al guardar.");
                        }
                    })
                    } else {
                        alert("Por favor, seleccione entre 1 y 5 términos.");
                    }
                })
            {% else %}
                $('#features2').hide();
            {% endif %}
        })
    </script>
{% endblock %}
