{% extends 'base.html' %}
{% block content1 %}
{% load static %}

<section id="features1" class="padd-section text-center wow fadeInUp">
        <div class="container justify-content-center">
            <div class="text-justify">
                <h3 style="padding-bottom: 20px;">Valoración de la asociatividad</h3>
                <p style="color:#2e2e2e; font-size: 18px; font-weight: 500; letter-spacing: 0px; line-height: 1.5; margin-bottom: 10px;">
                    Esta parte consiste en asociar posibles términos de entre un conjunto visible. Para ello, previamente
                    se muestran el título y el resumen del artículo científico con el cual se asociarán los términos.
                    Para <strong>asociar</strong> los términos, se deberá hacer click en la casilla de verificación de tal forma que quede
                    seleccionada. <u>Puede asociar tantos términos, o ninguno, como usted lo considere</u>. Por último, deberá
                    indicar el grado de <strong>coherencia</strong> que considere entre los términos seleccionados y el
                    artículo científico mostrado.
                </p>
            </div>
            <div class="justify-content-center text-center">
                <h3>Título</h3><em><p class="text-center" style="font-size: large; font-weight: 500; color:#3d3d3d; ">"{% if article %}{{ article.title }}{% endif %}{% if article_x_v1 %}{{ article_x_v1.title }}{% endif %}"</p></em>
                <h3>Resumen</h3><em><p class="text-justify" style="font-size: medium; font-weight: 500; color: #3d3d3d; letter-spacing: 0px; line-height: 1.5;">{% if article %}{{ article.abstract }}{% endif %}{% if article_x_v1 %}{{ article_x_v1.abstract }}{% endif %}</p></em>
                <!--
                <h2>Scientific paper title:</h2><p class="text-center" style="font-size: large; font-weight: 500; color:{{ randomfilteredCategory.id_colortheme.articleTitleC }}; ">"{% if article %}{{ article.title }}{% endif %}{% if article_x_v1 %}{{ article_x_v1.title }}{% endif %}"</p>
                <h2>Abstract: </h2><p class="text-justify" style="font-size: large; font-weight: 500; color:{{ randomfilteredCategory.id_colortheme.abstractTitleC }}; ">{% if article %}{{ article.abstract }}{% endif %}{% if article_x_v1 %}{{ article_x_v1.abstract }}{% endif %}</p>
                -->
            </div>
            <div class="col-md-5">
                <a target="_blank" href="https://whattopic-data.s3.us-east-2.amazonaws.com/{{ article_x_v1.pdfPath }}" class="row align-content-center">
                    <p style="padding-left: 10px; !important;">
                        <img src="{% static 'img/icons/search.svg' %}" alt="" width="15" height="15" title="Ver"/>
                        <u>Ver artículo científico completo</u>
                    </p>
                </a>
            </div>
            <div class="container justify-content-center text-justify" style="padding-bottom: 10px;">
                <h3 style="font-size: large; font-weight: 500; color:#2e2e2e; !important;">
                    <img src="{% static 'img/icons/check2-all.svg' %}" alt="" width="25" height="25" title="Seleccionar"/>
                    Por favor, seleccione <u>tantos términos</u> como usted considere están <strong>más asociados</strong>
                    al artículo científico mostrado previamente.
                </h3>
            </div>
            <!-- To production -->
            {% if term_assign_listX_v1 %}
                <div class="col-md-12" id="options_panel" style="padding-left: 1px; padding-right: 1px; padding-top: 5px;">
                    <form name="name_form" id="id_form1" method="POST" action="{% url 'insertV1' %}">
                        {% csrf_token %}
                        <div class="container" id="options_panel2">
                            <div class="row row-cols-4 border border-info text-justify">
                                {% for term_assign in term_assign_listX_v1 %}
                                    <div class="col-4">
                                        <input type="checkbox" class="checkbox-list" name="chosenTermGroup" id="1{{ term_assign.id_term.term }}" value="{{ term_assign.id_term.id }}">
                                        <label for="1{{ term_assign.id_term.term }}" style="padding: 5px; color:#323232; font-size: medium;" class="text-break text-capitalize">{{ term_assign.id_term.term }} | {{ term_assign.id_term.term_es }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row" style="padding-top: 10px;">
                            <div style="background: transparent;" class="col col-md-9">
                                <div class="container justify-content-center text-justify" style="padding-bottom: 10px;">
                                    <h3 style="font-size: large; font-weight: 500; color:#2e2e2e; !important;">
                                    <img src="{% static 'img/icons/hand-index.svg' %}" alt="" width="20" height="20" title="Seleccionar"/>
                                    Por favor, seleccione el nivel de <strong>coherencia</strong> entre los <u>términos seleccionados</u> y el artículo mostrado.
                                    </h3>
                                </div>
                                {% for cohereGrade1_x in cohereGrade1 %}
                                    <div class="custom-radio custom-control-inline" style="padding-right: 10px;">
                                        <input type="radio" id="customRadioA{{ cohereGrade1_x.id }}" name="customRadioA" class="custom-control-input" value="{{ cohereGrade1_x.id }}" required>
                                        <label class="custom-control-label" for="customRadioA{{ cohereGrade1_x.id }}">{{ cohereGrade1_x.grade }}</label>
                                    </div>
                                {% endfor %}

                                <div style="padding-top: 20px;">
                                    <button type="submit" class="btn btn-success">Enviar</button>
                                </div>
                            </div>

                            <div class="col col-md-3 align-self-start">
                                <label>Términos Seleccionados</label>
                                <div class="border border-success">
                                    <ul id="selectedTerms" name="selectedTerms" class="list-group" style="">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            {% endif %}
        </div>
</section>

<script type="text/javascript">
    function vector2LiDiv(vector){
        var text = ""
        for (ele of vector){
            text += "<li class='list-group-item'>"+ele+"</li>";
        }
        return text
    }
    $(document).ready(function () {
        {% if term_assign_listX_v1 or terms_list %}
            var preselected_terms = [];
            var counter = 0;
            $(".checkbox-list").on( 'change', function() {
                if( $(this).is(':checked') ) {
                    var inputID = $(this).attr("id");
                    inputID = inputID.substring(1,inputID.length);
                    // I must did this because there was a error with this specific Term: "features" only in validation1
                    //if(!isNaN(inputID)){
                    //    console.log("Term -features- detected with ID: "+inputID);
                    //    inputID = "features";
                    //}
                    preselected_terms.push(inputID);
                    console.log("El checkbox con name " + inputID + " ha sido seleccionado");
                    counter++;
                } else {
                    // Hacer algo si el checkbox ha sido deseleccionado
                    var inputID = $(this).attr("id");
                    inputID = inputID.substring(1,inputID.length);
                    //if(!isNaN(inputID)){
                    //    console.log("Term -features- detected with ID: "+inputID);
                    //    inputID = "features";
                    //}
                    var idx = preselected_terms.indexOf(inputID);
                    if (idx != -1) {
                        var termx = preselected_terms.splice(idx, 1);
                        console.log("Eliminando:"+termx);
                        counter--;
                        console.log("El checkbox con name " + inputID + " ha sido deseleccionado");
                    } else {
                        console.log("El checkbox con name " + inputID + " No existe!!!");
                    }
                }
                document.getElementById("selectedTerms").innerHTML = vector2LiDiv(preselected_terms);
                //$('#selectedTerms').html(preselected_terms);
            });
            $("#id_form1").submit(function (e) {
                e.preventDefault();
                var checkedTermIDs = [];
                // Comprueba los check seleccionados, sirve para contar y validar que tienen que ser 5.
                $('.checkbox-list:checked').each(function() {
                    //$("input:checkbox:checked").each(function(e) {
                    console.log("El checkbox con valor " + $(this).val() + " está seleccionado");
                    checkedTermIDs.push($(this).val());
                });
                var unCheckedTermIDs = [];
                $('.checkbox-list:not(:checked)').each(function() {
                    //$("input:checkbox:checked").each(function(e) {
                    console.log("El checkbox con valor " + $(this).val() + " NO está seleccionado");
                    unCheckedTermIDs.push($(this).val());
                });
                //if (checkedTermIDs.length==5){ //This validate for 5 selected terms. Oldest app.
                //if (checkedTermIDs.length>0){ //This validate for at least 1 selected terms. Old app.
                if (checkedTermIDs.length>-1){
                    var radioValue1 = $("input[name='customRadioA']:checked").val();
                    if(checkedTermIDs.length==0){
                        checkedTermIDs.push(0); //ID(0) refers "<None>" term by default.
                    }
                    $.ajax({
                        url: $(this).attr('action'),
                        type: $(this).attr('method'),
                        //data: $(this).serialize(),
                        data: {
                            'id_term_list2string': checkedTermIDs.toString(),
                            'id_Unchecked_term_list2string': unCheckedTermIDs.toString(),
                            'id_article': {% if article %}{{ article.id }}{% endif %}{% if article_x_v1 %}{{ article_x_v1.id }}{% endif %},
                            'id_expert': {{ expert.id }},
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            'id_cohereGrade1': radioValue1,
                        }, // get the form data

                        success: function (json) {
                            console.log(json);
                            //$('#DIV_CONTAINING_FORM').html(JSON.stringify(json, undefined, 2));
                            //$('#hero').hide();
                            $('#features1').hide();
                            //$('#features2').show();
                        },
                        error: function () {
                            alert("Error al guardar.");

                        }
                    })
                } else {
                    //alert("Please, select 5 terms"); //This validate for 5 selected terms. Old app.
                    alert("Print in else.");
                }
            })
        {% else %}
            $('#features1').hide();
        {% endif %}
    })
</script>
{% endblock %}
