{% extends 'validation2.html' %}
{% block content3 %}
{% load static %}
<section id="features3" class="padd-section text-center wow fadeInUp">

    <!--==========================
    Words Section
  ============================-->

    <div class="container">
        <div class="text-justify" style="padding-bottom: 10px;">
                <h3 style="padding-bottom: 20px;">Valoración por Inferencia Temática</h3>
                <p style="color:#2e2e2e; font-size: 18px; font-weight: 500; letter-spacing: 0px; line-height: 1.5; margin-bottom: 10px;">
                    La tarea consiste en <u>interpretar</u> los términos mostrados e <strong>inferir</strong> al menos un posible
                    tema que considere los representa mejor. Para ello, dispondrá de una sección donde podrá indicar el
                    tema (o los temas) con un máx. de 100 caracteres cada uno.<br/>
                    Ejemplo: <br/>
                    1. Con los términos "<strong>ratón</strong>", "<strong>teclado</strong>", "<strong>pantalla</strong>" y
                    "<strong>tecnología</strong>" -> se puede inferir el tema "<strong>Computador</strong>"
                        (nótese que "<strong>ratón</strong>" tiene diferentes definiciones (<em>e.g.</em> <<u>animal</u>> y <<u>aparato electrónico</u>>)
                    las cuales se interpretan según su contexto).<br/>
                    2. Con "<strong>cielo</strong>", "<strong>calor</strong>", "<strong>temperatura</strong>" y "<strong>agua</strong>"
                    -> se pueden inferir más de un tema: <em>i)</em> "<strong>Calentamiento global</strong>" y <em>ii)</em> "<strong>ciclo del agua</strong>".
                </p>
        </div>
    </div>

        <div class="container">
           <!-- <h2>Topic: {{ id_topic }}</h2>-->
            <div class="container justify-content-center text-justify" style="padding-bottom: 30px; !important;">
                <h3 style="font-size: large; font-weight: 500; color:#2e2e2e; !important;">
                    <img src="{% static 'img/icons/question-circle.svg' %}" alt="" width="20" height="20" title="Inferir"/>
                    Por favor, <u>infiera</u> un tema que usted considere <strong>representa</strong> mejor, y de manera conjunta, los términos mostrados.
                </h3>
            </div>

            <div class="row justify-content-center" style="padding-bottom: 20px;">
                {% if term_assign_list %}
                    {% for term in term_assign_list  %}
                    <div class="col-md-6 justify-content-center">
                        <div class="feature-block justify-content-center text-center rounded" style="background: #d1d2ce; !important;">
                            <p class="text-center text-capitalize" style="font-size: large; font-weight: 500; color:{{ randomfilteredCategory.id_colortheme.topicTermsC }}; ">{{ term.id_term.term }} | {{ term.id_term.term_es }}</p>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>No terms are available.</p>
                {% endif %}
            </div>
        </div>

        <!--==========================
    sendTopic Section
  ============================-->
        <div class="container">
            <div class="justify-content-center">
                <form id="id_form3" action="{% url 'insertV3' %}" method="POST" role="form" class="col-md-8">
                    {% csrf_token %}
                    <input type="hidden" name="id_topic" value="{{ id_topic.id }}"> <!-- basicamente estos input no se usan -->
                    <input type="hidden" name="id_expert" value="{{ expert.id }}"> <!-- basicamente estos input no se usan -->
                    <div class="form-group text-justify">
                        <label class="col-md-12" for="topicDes" style="font-size: large; font-weight: 500; color:#2e2e2e; !important;">Tema (máximo 100 caracteres)</label>
                        <div>
                            <div class="field_wrapper">
                                <div style="padding-bottom: 10px;" class="col-md-12">
                                    <input type="text" name="topic[]" maxlength="100" class="form-control" id="topic[]" placeholder="Tema" required/>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <a href="javascript:void(0);" class="add_button" title="Agregar tema" style="color:#4b4040; font-size: 18px; font-weight: 500; letter-spacing: 0px; line-height: 1.5;">
                                    <img src="{% static 'img/icons/plus-circle-fill.svg' %}" />
                                    Agregar otro tema
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="container justify-content-center text-justify" style="padding-bottom: 24px; padding-top: 10px;">
                        <h3 style="padding-bottom: 10px; font-size: large; font-weight: 500; color:#2e2e2e; !important;">
                            <img src="{% static 'img/icons/info-square.svg' %}" alt="" width="20" height="20" title="Seleccionar"/>
                            Por favor, califique de 0 a 3 qué tan <strong>experto</strong> se considera usted en este(os) tema(s),
                            donde 0 es "Nada Experto" y 3 "Muy Experto".
                        </h3>
                        <div style="padding-left: 24px;">
                            {% for expertLvl_x in expertLvl %}
                                <div class="custom-radio custom-control-inline" style="padding-right: 10px;">
                                    <input type="radio" id="customRadioC{{ expertLvl_x.id }}" name="customRadioC" class="custom-control-input" value="{{ expertLvl_x.id }}" required>
                                    <label class="custom-control-label" for="customRadioC{{ expertLvl_x.id }}">{{ expertLvl_x.id }} - {{ expertLvl_x.lvl }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-success">Enviar</button>
                            <!--<button type="reset" class="btn btn-secondary">Reset fields</button>-->
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </section>

    <script type="text/javascript">
        $(document).ready(function(){
            var maxField = 10; //Input fields increment limitation
            var addButton = $('.add_button'); //Add button selector
            var wrapper = $('.field_wrapper'); //Input field wrapper
            var fieldHTML = '' +
                '<div style="padding-bottom: 10px; padding-left: 30px; font: red;" class="row">\n' +
                    '<input type="text" name="topic[]" maxlength="100" class="form-control col-md-11" id="topic[]" placeholder="Tema" required/>\n' +
                    '<a href="javascript:void(0);" class="remove_button" style="padding-left: 10px;" title="Eiminar tema">\n' +
                        '<img src="{% static "img/icons/backspace-fill.svg" %}"/>\n' +
                    '</a>\n' +
                '</div>'; //New input field html
            var x = 1; //Initial field counter is 1

            //Once add button is clicked
            $(addButton).click(function(){
                //Check maximum number of input fields
                if(x < maxField){
                    x++; //Increment field counter
                    $(wrapper).append(fieldHTML); //Add field html
                }
            });

            //Once remove button is clicked
            $(wrapper).on('click', '.remove_button', function(e){
                e.preventDefault();
                $(this).parent('div').remove(); //Remove field html
                x--; //Decrement field counter
            });
        });
</script>


    <script type="text/javascript">
        $(document).ready(function () {

            {% if term_assign_list %}
                $("#id_form3").submit(function (e) {
                    e.preventDefault();

                    var topicLabel = [];
                    var incCount = document.getElementsByName("topic[]").length;

                    for(i=0;i<incCount;i++){
                        topicLabel[i] = document.getElementsByName("topic[]")[i].value;
                    };

                    //var topicDescription = document.getElementById("topicDes").value;
                    var radioValue3 = $("input[name='customRadioC']:checked").val();

                    $.ajax({
                        url: $(this).attr('action'),
                        type: $(this).attr('method'),
                        //data: $(this).serialize(),
                        data: {
                            'topicLabel': topicLabel.toString(),
                            //'topicDescription': topicDescription,
                            'id_topic': {{ id_topic.id }},
                            'id_expert': {{ expert.id }},
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            'id_expertLvl': radioValue3,
                        }, // get the form data

                        success: function (json) {
                            console.log(json);
                            //$('#DIV_CONTAINING_FORM').html(JSON.stringify(json, undefined, 2));
                            $('#features3').hide();
                            //$('#tks').show();
                        },
                        error: function () {
                            alert("Error al guardar.");
                        }
                    })
                })
            {% else %}
                $('#features3').hide();
            {% endif %}
        })
    </script>

{% endblock %}
