{% extends 'base.html' %}
{% block content %}

    <script>
        function hasDuplicates(arr){
            return new Set(arr).size !== arr.length;
        }
        function foo() {
            var t = [];
            t.push(document.getElementById("terms1").value);
            t.push(document.getElementById("terms2").value);
            t.push(document.getElementById("terms3").value);
            t.push(document.getElementById("terms4").value);
            t.push(document.getElementById("terms5").value);
            if (t.includes("None")){
                alert("No empty spaces please ");
            }else if (hasDuplicates(t)){
                alert("Please don't pick repeated values");
            }else {
                alert(t);
            }
        }
    </script>

<section id="features" class="padd-section text-center wow fadeInUp">
        <div class="container">
            <div class="justify-content-center text-center">
                <h2>Title: </h2><p class="text-center" style="font-size: large; font-weight: 500; color:blue ">"{{ article.title }}"</p>
                <h2>Abstract: </h2><p class="text-center" style="font-size: large; font-weight: 500; color:#10bf15 ">{{ article.abstract }}</p>
            </div>

            <div class="justify-content-center text-center">
                <h2>Choose the order you consider correct</h2>
                {% if terms_list %}
                    <label for="terms1">1:</label>
                    <select name="terms1" id="terms1">
                        <option value="None">-------</option>
                        {% for term in terms_list %}
                        <option value="{{ term.id }}">{{ term.term|capfirst }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label for="terms2">2:</label>
                    <select name="terms2" id="terms2">
                        <option value="None">-------</option>
                        {% for term in terms_list %}
                        <option value="{{ term.id }}">{{ term.term|capfirst }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label for="terms3">3:</label>
                    <select name="terms3" id="terms3">
                        <option value="None">-------</option>
                        {% for term in terms_list %}
                        <option value="{{ term.id }}">{{ term.term|capfirst }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label for="terms4">4:</label>
                    <select name="terms4" id="terms4">
                        <option value="None">-------</option>
                        {% for term in terms_list %}
                        <option value="{{ term.id }}">{{ term.term|capfirst }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label for="terms5">5:</label>
                    <select name="terms5" id="terms5">
                        <option value="None">-------</option>
                        {% for term in terms_list %}
                        <option value="{{ term.id }}">{{ term.term|capfirst }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <button type="submit" onclick="foo()">Save</button>
                {% endif %}
            </div>
        </div>
</section>

{% endblock %}
